In [1]:
#imports
import pandas as pd
import numpy as np

In [2]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0094859,movie,Chief Zabu,Chief Zabu,0,2016,NaN,74,Comedy

## Part 2

In [3]:
#imports
import os, time,json
import tmdbsimple as tmdb 
from tqdm.notebook import tqdm_notebook
import time

FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['.ipynb_checkpoints',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'tmdb_results_combined.csv.gz']

In [4]:
#get TMBD API credentials
with open('/Users/thoma/.secret/tmdb_api.json') as f:
    api_creds = json.load(f)

api_creds.keys()

dict_keys(['client-id', 'api-key'])

In [5]:
#create function to use api creds
tmdb.API_KEY = api_creds['api-key']

In [6]:
#define years
YEARS_TO_GET = [2000,2001]

In [7]:
def write_json(new_data, filename): 
    """Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""    
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file) 
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [8]:
def get_movie_with_rating(movie_id):
    # Get the movie object for the current id
    movie = tmdb.Movies(movie_id)
    # save the .info .releases dictionaries
    movie_info = movie.info()
    releases = movie.releases()
    # Loop through countries in releases
    for c in releases['countries']:
        # if the country abbreviation==US
        if c['iso_3166_1' ] =='US':
            ## save a "certification" key in the info dict with the certification
            movie_info['certification'] = c['certification']
    return movie_info

In [9]:
# Load in the dataframe from project part 1 as basics:
basics = pd.read_csv('Data/title_basics.csv.gz')

In [10]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79648 entries, 0 to 79647
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          79648 non-null  object
 1   titleType       79648 non-null  object
 2   primaryTitle    79648 non-null  object
 3   originalTitle   79648 non-null  object
 4   isAdult         79648 non-null  int64
 5   startYear       79648 non-null  int64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  79648 non-null  int64
 8   genres          79648 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 5.5+ MB

In [11]:
get_movie_with_rating('tt0848228')

{'adult': False,
 'backdrop_path': '/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 217.673,
 'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.706,
 'vote_count': 27438,
 'certification': 'PG-13'}

In [12]:
get_movie_with_rating('tt0332280')

{'adult': False,
 'backdrop_path': '/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg',
 'belongs_to_collection': None,
 'budget': 29000000,
 'genres': [{'id': 10749, 'name': 'Romance'}, {'id': 18, 'name': 'Drama'}],
 'homepage': 'http://www.newline.com/properties/notebookthe.html',
 'id': 11036,
 'imdb_id': 'tt0332280',
 'original_language': 'en',
 'original_title': 'The Notebook',
 'overview': "An epic love story centered around an older man who reads aloud to a woman with Alzheimer's. From a faded notebook, the old man's words bring to life the story about a couple who is separated by World War II, and is then passionately reunited, seven years later, after they have taken different paths.",
 'popularity': 78.354,
 'poster_path': '/rNzQyW4f8B8cQeg7Dgj3n6eT5k9.jpg',
 'production_companies': [{'id': 12,
   'logo_path': '/iaYpEp3LQmb8AfAtmTvpqd4149c.png',
   'name': 'New Line Cinema',
   'origin_country': 'US'},
  {'id': 1565, 'logo_path': None, 'name': 'Avery Pix', 'origin_country': 'US'},
  {'id': 2605,
   'logo_path': None,
   'name': 'Gran Via Productions',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2004-06-25',
 'revenue': 115603229,
 'runtime': 123,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Behind every great love is a great story.',
 'title': 'The Notebook',
 'video': False,
 'vote_average': 7.881,
 'vote_count': 9773,
 'certification': 'PG-13'}

In [13]:
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET,desc='YEARS',position=0):
    
    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    
    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)
    
    # If it does not exist: create it
    if file_exists == False:
    # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)
    
    #Saving new year as the current df
    df = basics.loc[ basics['startYear']==YEAR].copy()
    # saving movie ids to list
    movie_ids = df['tconst'].copy()#.to_list()
    
    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
    
    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]
            
            #Get index and movie id from list
    # INNER Loop
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                      desc=f'Movies from {YEAR}',
                                      position=1,
                                      leave=True):
            # Attempt to retrieve then data for the movie id
            try:
                temp = get_movie_with_rating(movie_id)  #This uses your pre-made function
                # Append/extend results to existing file using a pre-made function
                write_json(temp,JSON_FILE)
                # Short 20 ms sleep to prevent overwhelming server
                time.sleep(0.02)

            # If it fails,  make a dict with just the id and None for certification.
            except Exception as e:
                continue

    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

Movies from 2000:   0%|          | 0/206 [00:00<?, ?it/s]

Movies from 2001:   0%|          | 0/242 [00:00<?, ?it/s]

In [14]:
# Open saved file and preview again
df_2000 = pd.read_csv("Data/final_tmdb_data_2000.csv.gz", low_memory = False)
df_2000.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0120454,0.0,/lBKUKP07gLtgXVitepsoCfzbqCi.jpg,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}, {'id': 104...",NaN,116569.0,en,Vinyl,...,0.0,110.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A Camera. A Collection. An Obsession.,Vinyl,0.0,7.2,18.0,NaN
2,tt0151372,0.0,NaN,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}]",NaN,150578.0,sv,Ljuset håller mig sällskap,...,0.0,85.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Light Keeps Me Company,0.0,8.0,6.0,NaN
3,tt0154352,0.0,NaN,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}]",NaN,110666.0,en,Condo Painting,...,0.0,86.0,[],Released,NaN,Condo Painting,0.0,0.0,0.0,NaN
4,tt0168515,0.0,NaN,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}, {'id': 104...",NaN,26244.0,en,Phish: Bittersweet Motel,...,0.0,84.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Phish: Bittersweet Motel,0.0,6.8,5.0,NaN

In [15]:
# Open saved file and preview again
df_2001 = pd.read_csv("Data/final_tmdb_data_2001.csv.gz", low_memory = False)
df_2001.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0118154,0.0,NaN,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}]",NaN,292980.0,en,White Hotel,...,0.0,90.0,"[{'english_name': 'Amharic', 'iso_639_1': 'am'...",Released,NaN,White Hotel,0.0,0.0,0.0,NaN
2,tt0143861,0.0,/2fTB1wwSFbUlACeIwXNJqi8EdJa.jpg,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}, {'id': 104...",NaN,18984.0,en,Scratch,...,0.0,92.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Scratch,0.0,7.6,25.0,NaN
3,tt0210777,0.0,NaN,NaN,500000.0,"[{'id': 99, 'name': 'Documentary'}]",http://www.ericsaperston.com/,66780.0,en,The Journey,...,0.0,93.0,[],Released,Sometimes you take a trip. Sometimes the trip ...,The Journey,0.0,5.2,2.0,NaN
4,tt0230234,0.0,NaN,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}]",NaN,148453.0,en,"A Galaxy Far, Far Away",...,0.0,0.0,[],Released,NaN,"A Galaxy Far, Far Away",0.0,5.0,1.0,PG

In [16]:
df = pd.concat([df_2000, df_2001])

In [17]:
## Save current dataframe to file.
df.to_csv("Data/tmdb_results_combined.csv.gz",compression='gzip',index=False)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2861 entries, 0 to 1478
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2861 non-null   object
 1   adult                  2859 non-null   float64
 2   backdrop_path          1356 non-null   object
 3   belongs_to_collection  199 non-null    object
 4   budget                 2859 non-null   float64
 5   genres                 2859 non-null   object
 6   homepage               225 non-null    object
 7   id                     2859 non-null   float64
 8   original_language      2859 non-null   object
 9   original_title         2859 non-null   object
 10  overview               2799 non-null   object
 11  popularity             2859 non-null   float64
 12  poster_path            2443 non-null   object
 13  production_companies   2859 non-null   object
 14  production_countries   2859 non-null   object
 15  release_date           2820 non-null   object
 16  revenue                2859 non-null   float64
 17  runtime                2859 non-null   float64
 18  spoken_languages       2859 non-null   object
 19  status                 2859 non-null   object
 20  tagline                1106 non-null   object
 21  title                  2859 non-null   object
 22  video                  2859 non-null   float64
 23  vote_average           2859 non-null   float64
 24  vote_count             2859 non-null   float64
 25  certification          842 non-null    object
dtypes: float64(9), object(17)
memory usage: 603.5+ KB

### How many movies had at least some valid financial information (values > 0 for budget OR revenue)? 640 movies

In [19]:
df.drop_duplicates()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0120454,0.0,/lBKUKP07gLtgXVitepsoCfzbqCi.jpg,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}, {'id': 104...",NaN,116569.0,en,Vinyl,...,0.0,110.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A Camera. A Collection. An Obsession.,Vinyl,0.0,7.2,18.0,NaN
2,tt0151372,0.0,NaN,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}]",NaN,150578.0,sv,Ljuset håller mig sällskap,...,0.0,85.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Light Keeps Me Company,0.0,8.0,6.0,NaN
3,tt0154352,0.0,NaN,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}]",NaN,110666.0,en,Condo Painting,...,0.0,86.0,[],Released,NaN,Condo Painting,0.0,0.0,0.0,NaN
4,tt0168515,0.0,NaN,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}, {'id': 104...",NaN,26244.0,en,Phish: Bittersweet Motel,...,0.0,84.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Phish: Bittersweet Motel,0.0,6.8,5.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1474,tt7797670,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",NaN,956214.0,en,Edmund Kemper Part 2: La Mort C'est La Vie,...,0.0,91.0,[],Released,NaN,Edmund Kemper Part 2: La Mort C'est La Vie,0.0,0.0,0.0,NaN
1475,tt7797790,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",NaN,956219.0,en,Edmund Kemper Part 3: La mort sévit,...,0.0,72.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,NaN,Edmund Kemper Part 3: La mort sévit,0.0,0.0,0.0,NaN
1476,tt8665056,0.0,NaN,NaN,0.0,"[{'id': 37, 'name': 'Western'}]",http://skeletoncreekproductions.com/p-movie-br...,885436.0,en,Guns Along The Bravo,...,0.0,85.0,[],Released,Evil came to the Southwest until three blazing...,Guns Along The Bravo,0.0,0.0,0.0,NaN
1477,tt8795764,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",https://www.utahwolf.com/films/coming-soon-new...,871624.0,en,New Breed,...,0.0,57.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,New Breed,0.0,0.0,0.0,NR
1478,tt9071078,0.0,NaN,NaN,0.0,"[{'id': 28, 'name': 'Action'}]",http://www.hkcinemagic.com/en/movie.asp?id=6627,201706.0,cn,致命密函,...,0.0,90.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,NaN,Chinese Heroes,0.0,3.0,2.0,NaN

In [20]:
#filter df where revenue or budget is > 0
df_1 = df[(df['budget'] > 0) | (df['revenue'] > 0)]
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 640 entries, 9 to 1459
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                640 non-null    object
 1   adult                  640 non-null    float64
 2   backdrop_path          524 non-null    object
 3   belongs_to_collection  102 non-null    object
 4   budget                 640 non-null    float64
 5   genres                 640 non-null    object
 6   homepage               84 non-null     object
 7   id                     640 non-null    float64
 8   original_language      640 non-null    object
 9   original_title         640 non-null    object
 10  overview               637 non-null    object
 11  popularity             640 non-null    float64
 12  poster_path            615 non-null    object
 13  production_companies   640 non-null    object
 14  production_countries   640 non-null    object
 15  release_date           640 non-null    object
 16  revenue                640 non-null    float64
 17  runtime                640 non-null    float64
 18  spoken_languages       640 non-null    object
 19  status                 640 non-null    object
 20  tagline                484 non-null    object
 21  title                  640 non-null    object
 22  video                  640 non-null    float64
 23  vote_average           640 non-null    float64
 24  vote_count             640 non-null    float64
 25  certification          429 non-null    object
dtypes: float64(9), object(17)
memory usage: 135.0+ KB

### How many movies are there in each of the certification categories (G/PG/PG-13/R)?

In [21]:
#get count of movies for certification category
df_1['certification'].value_counts()

R        227
PG-13    130
PG        35
NR        21
G         16
Name: certification, dtype: int64

### What is the average revenue per certification category?

In [22]:
#get average revenue for certification category
df_1.groupby('certification')['revenue'].mean()

certification
G        1.096618e+08
NR       7.221697e+06
PG       1.123378e+08
PG-13    9.970084e+07
R        3.334614e+07
Name: revenue, dtype: float64

### What is the average budget per certification category?

In [23]:
#get average budget for certification category
df_1.groupby('certification')['budget'].mean()

certification
G        3.799165e+07
NR       5.100957e+06
PG       4.497857e+07
PG-13    4.348391e+07
R        2.013149e+07
Name: budget, dtype: float64

## Part 3

In [28]:
## create a col with a list of genres
df_1['genres_split'] = df_1['genres'].str.split(',')
df_1

C:\Users\thoma\AppData\Local\Temp\ipykernel_6872\1675328795.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['genres_split'] = df_1['genres'].str.split(',')

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification,genres_split
9,tt0210130,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,94214.0,en,"Jails, Hospitals & Hip-Hop",...,90.0,[],Released,three worlds / two million voices / one genera...,"Jails, Hospitals & Hip-Hop",0.0,0.00,0.0,NaN,"[[{'id': 18, 'name': 'Drama'}, {'id': 35, '..."
28,tt0235327,0.0,/dJD6TROixLm4V7OUNQeLWt4BD57.jpg,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}]",NaN,14273.0,en,Dark Days,...,82.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Dark Days,0.0,7.60,81.0,NR,"[[{'id': 99, 'name': 'Documentary'}]]"
31,tt0236388,0.0,/7t7f7fHytr0JbjYCkMthpjBRZTv.jpg,NaN,13000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 99, 'nam...",NaN,23618.0,en,The Original Kings of Comedy,...,115.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,We Got Jokes,The Original Kings of Comedy,0.0,6.20,45.0,NaN,"[[{'id': 35, 'name': 'Comedy'}, {'id': 99, ..."
50,tt0245280,0.0,/oSOSNaw7qjgZ97n4xHknHelsPUw.jpg,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}]",NaN,24977.0,en,Michael Jordan to the Max,...,46.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Up close some heroes get even bigger.,Michael Jordan to the Max,0.0,7.40,25.0,NaN,"[[{'id': 99, 'name': 'Documentary'}]]"
93,tt0264578,0.0,/bbCygAkvqSc0hWdn1Iiv574J0H7.jpg,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}, {'id': 36,...",NaN,32567.0,en,The Endurance: Shackleton's Legendary Antarcti...,...,97.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Endurance: Shackleton's Legendary Antarcti...,0.0,6.75,26.0,G,"[[{'id': 99, 'name': 'Documentary'}, {'id': ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1418,tt0445841,0.0,NaN,NaN,12500000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,233308.0,zh,一个烂赌的传说,...,94.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,NaN,A Gambler's Story,0.0,6.80,3.0,NaN,"[[{'id': 35, 'name': 'Comedy'}, {'id': 18, ..."
1434,tt0867181,0.0,NaN,NaN,5000.0,"[{'id': 53, 'name': 'Thriller'}]",NaN,749151.0,en,Patient,...,88.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Only a miracle can save Sean now,Patient,0.0,0.00,0.0,NaN,"[[{'id': 53, 'name': 'Thriller'}]]"
1436,tt1039952,0.0,/yTGmGjAd0gfpVK0ezoqWgx7AJkp.jpg,NaN,500000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,69399.0,ta,சிட்டிசன்,...,157.0,"[{'english_name': 'Tamil', 'iso_639_1': 'ta', ...",Released,NaN,Citizen,0.0,6.50,12.0,NaN,"[[{'id': 18, 'name': 'Drama'}, {'id': 28, '..."
1448,tt1764172,0.0,NaN,NaN,250000.0,"[{'id': 53, 'name': 'Thriller'}]",NaN,228977.0,en,Among Thieves,...,0.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Among Thieves,0.0,0.00,0.0,NaN,"[[{'id': 53, 'name': 'Thriller'}]]"
1459,tt2957918,0.0,NaN,NaN,2000.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,602589.0,en,Toaster,...,85.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Now is not the time for toast.,Toaster,0.0,0.00,0.0,NaN,"[[{'id': 35, 'name': 'Comedy'}]]"

In [29]:
exploded_genres = df_1.explode('genres_split')
exploded_genres

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification,genres_split
9,tt0210130,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,94214.0,en,"Jails, Hospitals & Hip-Hop",...,90.0,[],Released,three worlds / two million voices / one genera...,"Jails, Hospitals & Hip-Hop",0.0,0.0,0.0,NaN,[{'id': 18
9,tt0210130,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,94214.0,en,"Jails, Hospitals & Hip-Hop",...,90.0,[],Released,three worlds / two million voices / one genera...,"Jails, Hospitals & Hip-Hop",0.0,0.0,0.0,NaN,'name': 'Drama'}
9,tt0210130,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,94214.0,en,"Jails, Hospitals & Hip-Hop",...,90.0,[],Released,three worlds / two million voices / one genera...,"Jails, Hospitals & Hip-Hop",0.0,0.0,0.0,NaN,{'id': 35
9,tt0210130,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,94214.0,en,"Jails, Hospitals & Hip-Hop",...,90.0,[],Released,three worlds / two million voices / one genera...,"Jails, Hospitals & Hip-Hop",0.0,0.0,0.0,NaN,'name': 'Comedy'}]
28,tt0235327,0.0,/dJD6TROixLm4V7OUNQeLWt4BD57.jpg,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}]",NaN,14273.0,en,Dark Days,...,82.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Dark Days,0.0,7.6,81.0,NR,[{'id': 99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1436,tt1039952,0.0,/yTGmGjAd0gfpVK0ezoqWgx7AJkp.jpg,NaN,500000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,69399.0,ta,சிட்டிசன்,...,157.0,"[{'english_name': 'Tamil', 'iso_639_1': 'ta', ...",Released,NaN,Citizen,0.0,6.5,12.0,NaN,'name': 'Crime'}]
1448,tt1764172,0.0,NaN,NaN,250000.0,"[{'id': 53, 'name': 'Thriller'}]",NaN,228977.0,en,Among Thieves,...,0.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Among Thieves,0.0,0.0,0.0,NaN,[{'id': 53
1448,tt1764172,0.0,NaN,NaN,250000.0,"[{'id': 53, 'name': 'Thriller'}]",NaN,228977.0,en,Among Thieves,...,0.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Among Thieves,0.0,0.0,0.0,NaN,'name': 'Thriller'}]
1459,tt2957918,0.0,NaN,NaN,2000.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,602589.0,en,Toaster,...,85.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Now is not the time for toast.,Toaster,0.0,0.0,0.0,NaN,[{'id': 35
1459,tt2957918,0.0,NaN,NaN,2000.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,602589.0,en,Toaster,...,85.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Now is not the time for toast.,Toaster,0.0,0.0,0.0,NaN,'name': 'Comedy'}]

In [30]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [35]:
#save the imdb_id and genres_split to a new df
title_genres = exploded_genres[['imdb_id', 'genres_split']].copy()
title_genres.head()

      imdb_id         genres_split
9   tt0210130           [{'id': 18
9   tt0210130     'name': 'Drama'}
9   tt0210130            {'id': 35
9   tt0210130   'name': 'Comedy'}]
28  tt0235327           [{'id': 99

In [36]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{" 'name': 'Action'}": 0,
 " 'name': 'Action'}]": 1,
 " 'name': 'Adventure'}": 2,
 " 'name': 'Adventure'}]": 3,
 " 'name': 'Animation'}": 4,
 " 'name': 'Animation'}]": 5,
 " 'name': 'Comedy'}": 6,
 " 'name': 'Comedy'}]": 7,
 " 'name': 'Crime'}": 8,
 " 'name': 'Crime'}]": 9,
 " 'name': 'Documentary'}": 10,
 " 'name': 'Documentary'}]": 11,
 " 'name': 'Drama'}": 12,
 " 'name': 'Drama'}]": 13,
 " 'name': 'Family'}": 14,
 " 'name': 'Family'}]": 15,
 " 'name': 'Fantasy'}": 16,
 " 'name': 'Fantasy'}]": 17,
 " 'name': 'History'}": 18,
 " 'name': 'History'}]": 19,
 " 'name': 'Horror'}": 20,
 " 'name': 'Horror'}]": 21,
 " 'name': 'Music'}": 22,
 " 'name': 'Music'}]": 23,
 " 'name': 'Mystery'}": 24,
 " 'name': 'Mystery'}]": 25,
 " 'name': 'Romance'}": 26,
 " 'name': 'Romance'}]": 27,
 " 'name': 'Science Fiction'}": 28,
 " 'name': 'Science Fiction'}]": 29,
 " 'name': 'Thriller'}": 30,
 " 'name': 'Thriller'}]": 31,
 " 'name': 'War'}": 32,
 " 'name': 'War'}]": 33,
 " 'name': 'Western'}": 34,
 " 'name': 'Western'}]": 35,
 " {'id': 10402": 36,
 " {'id': 10749": 37,
 " {'id': 10751": 38,
 " {'id': 10752": 39,
 " {'id': 12": 40,
 " {'id': 14": 41,
 " {'id': 16": 42,
 " {'id': 18": 43,
 " {'id': 27": 44,
 " {'id': 28": 45,
 " {'id': 35": 46,
 " {'id': 36": 47,
 " {'id': 37": 48,
 " {'id': 53": 49,
 " {'id': 80": 50,
 " {'id': 878": 51,
 " {'id': 9648": 52,
 " {'id': 99": 53,
 '[]': 54,
 "[{'id': 10402": 55,
 "[{'id': 10749": 56,
 "[{'id': 10751": 57,
 "[{'id': 10752": 58,
 "[{'id': 12": 59,
 "[{'id': 14": 60,
 "[{'id': 16": 61,
 "[{'id': 18": 62,
 "[{'id': 27": 63,
 "[{'id': 28": 64,
 "[{'id': 35": 65,
 "[{'id': 36": 66,
 "[{'id': 37": 67,
 "[{'id': 53": 68,
 "[{'id': 80": 69,
 "[{'id': 878": 70,
 "[{'id': 9648": 71,
 "[{'id': 99": 72}

In [38]:
## make new integer genre_id and drop string genres
df_1['genre_id'] = df_1['genres_split'].map(genre_map)
df_1 = df_1.drop(columns='genres_split')

TypeError: unhashable type: 'list'